#xxx{
    background: white;
    display: block;
    /* position: fixed;
    top:0；
    left：0； */
  }
  
  body{
    margin: 0px;
  }
  
 /* 逗号别忘了 */
  ol,li{
    list-style: none;
  }
  
  .actions{
    position: fixed;
    top: 0;
    left: 0;
    padding:20px;
    color:red;
  }
  /* .actions > #brush{
    display: none;
  } */
  
  /* .actions.x > #brush{
    display: inline-block;
  }
  .actions.x > #eraser{
    display: none
  } */
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .actions svg{
   width:1.5em;
   height:1.5em;
   transition:all 0.3s;
   margin: 0 10px;
  
 }
 .actions svg.active{
   /* 想要Color属性有用，必须有上面的FILL:CURRENTCOLOR */
    /* color:red; */
   /* fill:blue;
   stroke:yellow; */
   /* 点击的时候会变大 */
   transform:scale(1.2)
 }
.color{
  position:fixed;
  top:50px;
  left:0px;
  padding: 25px;

}
.color>li{
  width:20px;
  height:20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  margin:10px 0;
  transition:all 0.3s;
}
.color >li.red{
  background: red;
}
.color >li.blue{
  background: blue;
}
.color >li.green{
  background: green;
}
.color >li.active{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform:scale(1.2)
}
.width{
  position: fixed;
  top:20px;
  right:50px;
  
}
.width>.thin{
  height:0px;
  width:30px;
  border-top: 2px solid black;
  padding: 10px;

}
.width>.thick{
  height:0px;
  width:30px;
  border-top: 5px solid black;
  padding: 10px;
 
}